[submodule "src/.zsh.d"]
	path = src/.zsh.d
	url = git@github.com:Alfr0475/zsh.d.git
[submodule "src/.vim.d"]
	path = src/.vim.d
	url = git@github.com:Alfr0475/vim.d.git
[submodule "src/.tmux.d"]
	path = src/.tmux.d
	url = git@github.com:Alfr0475/tmux.d.git
[submodule "src/.emacs.d"]
	path = src/.emacs.d
	url = git@github.com:Alfr0475/emacs.d.git
[submodule "src/.iterm2.d"]
	path = src/.iterm2.d
	url = git@github.com:Alfr0475/iterm2.d.git
[submodule "src/.alfred.d"]
	path = src/.alfred.d
	url = git@github.com:Alfr0475/alfred.d.git
