[include]
	path = ~/.gitconfig.local
[ghq]
	root = ~/work/sources/git
[core]
	excludesfile = /Users/skoga/.gitignore
	attributesfile = ~/.gitattribute
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Seiki koga
	email = alfr0475@gmail.com
[alias]
	st = status --short --branch
